
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content>
    <meta name="author" content>

    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Divani - {{ post.title }}</title>
    <link rel="icon" href="{% static 'images/biglogo1.png' %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <link href="{% static 'css/font-awesome.min1.css' %}" rel="stylesheet">

    <link href="{% static 'css/bootstrap1.css' %}" rel="stylesheet">

    <link href="{% static 'css/style1.css' %}" rel="stylesheet">

    <link href="{% static 'css/aos1.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style>
        slider{
  display: flex;

}
.slides{
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slides img{
  display: block;
  width: 100px;
  height:100px;
}

.slides img:nth-child(2){
  margin: 10px 0;
}
.bg{
  display: block;
  width: 520px;
  height: 520px;
}
.navbar-toggler {
    width: 80px;
  display: block; /* Yoki inline-block */
  visibility: visible;
  opacity: 1;
}

      </style>
</head>

<body>
    <div id="main-content" class="m-scene">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" style="padding-left: 30px;">
                    <div style="color: #fff; background: #000; border-radius: 75%; width: 20px;">
                        <span style="margin-left: 7px;" class="counter-shop-box" id="cart-item-count-navbar"></span>
                    </div>
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
            </div>
          </nav>
        <nav class="navbar navbar-toggleable-md px-5-percent">
            <div class="full-width-container">
            <a style="color: #000;" class="navbar-brand" href="index.html">
                <img style="margin-left: 100px; " src="{% static 'images/logo.png' %}" width="162" height="45" alt="Logo">
            </a>
            <div style="padding-top: 50px;" class="navbar-collapse collapse" id="navbarNavDropdown" aria-expanded="false" style>
            <ul class="navbar-nav ml-auto"  style="padding-right: 12%;">
                <li class="active">
                    <a style="color: #000;" class="dropdown-toggle" href="{% url 'index' %}">Главная</a>
                </li>
                <li>
                    <a style="color: #000;" class="dropdown-toggle" href="{% url 'index' %}#products " data-toggle="dropdown">Продукты</a>
                </li>
                <li class="mega_menu_holder">
                    <a style="color: #000;" class="dropdown-toggle" href="{% url 'index' %}#aboutus  " data-toggle="dropdown">О нас</a>
                </li>
                <li>
                    <a style="color: #000;" class="dropdown-toggle" href="{% url 'index' %}#footer" data-toggle="dropdown">Контакты</a>
                </li> 
                <li>
                    <img onclick="showGreeting(); refreshPage();" src="{% static 'images/savat.png' %}" width="23px" alt="Savat">
                    <span style="margin-left: 7px;" class="counter-shop-box" id="cart-item-count-sidebar"></span>
                </li>



            </ul>
            </div>
            </div>
            </nav>
        <div class="page-container scene-main scene-main--fade_In">


            {% include 'order_list.html' %}
            <div class="fluid-container px-5-percent  single-product-content" style="margin-top: 40px;">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-product-images popup_gallery">
                            <slider>
                                <div class="slides">
                                    {% if post.image1 %}
                                    <img src="{{ post.image1.url }}" alt="{{ post.title }}" >
                                    {% endif %}
                                    {% if post.image2 %}
                                    <img src="{{ post.image2.url }}" alt="{{ post.title }}" >
                                    {% endif %}
                                    {% if post.image3 %}
                                    <img src="{{ post.image3.url }}" alt="{{ post.title }}" >
                                    {% endif %}
                                    {% if post.image4 %}
                                    <img src="{{ post.image4.url }}" alt="{{ post.title }}" >
                                    {% endif %}
                                    {% if post.image5 %}
                                    <img src="{{ post.image5.url }}" alt="{{ post.title }}" >
                                    {% endif %}


                                </div>
                                <img src="{{ post.image1.url }}" class="bg">
                                </slider>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="single-product-des">
                            <h2 class="product-title">{{ post.title }}</h2>
                            <div class="single-product-price">${{ post.price }}</div>
                            <div class="single-product-rating">
                                <a style="color: #000;" href="#">( 196 отзыва клиентов)</a>
                            </div>
                            <div class="single-product-deta">
                                <p>{{ post.about }}</p>

                                <form id="add-to-cart-form" method="post" action="{% url 'add_to_cart' %}" >
                                    {% csrf_token %}
                                    <div class="quantity d-flex">
                                        <input type="hidden" name="post_id" value="{{ post.id }}">
                                        <input type="hidden" name="quantity" value="1">
                                    </div>
                                        <a href="{% url 'post_detail' post.id %}">
                                                <button href="" style="font-size: 14px; background-color: #000; color: #fff; width: 150px; height: 35px;" type="button" id="add-to-cart-button">Добавить в корзину</button><div class="clearfix">
                                            </a>
                                            
                                    </div>
                                  
                                    <p id="tugmaYozuv"></p>
                                <!--</form>
                                 <form method="post" action="{% url 'clear_cart' %}">
                                    {% csrf_token %}
                                    <button type="submit">Savatchani tozalash</button>
                                </form> -->




                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="product-extra-info">

                            <ul class="nav nav-tabs" role="tablist">
                                <li class="nav-item">
                                    <a style="color: #000;" class="nav-link active " href="#ideas" role="tab" data-toggle="tab">О нас</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active mb_80" id="ideas">
                                    <div class="row">
                                        <div class="col-md-6 mb_20">
                                            <img src="{% static 'images/image-credit-nendo-44.jpg' %}" alt="product img">
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Зачем именно Divani?</h3>
                                            <br><br>    
                                            <p>Каждая модель дивана в нашем онлайн-каталоге – это воплощение великолепного дизайна, легенда мебельной индустрии.
                                                Divani.uz – это по-настоящему удобный интернет-магазин мебели. Мы предлагаем нашим клиентам современную мебель собственного производства и готовы гарантировать не только высокое качество продукции, но и низкие цены. А наши регулярные акции и специальные предложения вас приятно удивят!
                                                <br>
                                                <br> 
                                                Мы предлагаем лучший на сегодняшний день ассортимент предложение и обеспечиваем все удобства, чтобы быть уверенными при покупке диваны. ПРИГЛАШАЕМ Вас посетить шоурумы бренда и лично оценить используемый тканевый материал, проверить плавность наполнения и работу механизма, ПОЛУЧИТЬ УВЕРЕННОСТЬ И НАДЕЖНОСТЬ НАШЕЙ МЕБЕЛИ!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb_40">
                    <div class="col-md-12">
                        <h4>Сопутствующие товары</h4>
                    </div>
                </div>
                <ul class="row products">

                    {% for post in page_obj %}
                    <li class="product col-md-3 col-sm-6">
                        <a href="#">
                            <div style="width: 430; height: 480;">
                                <img src="{{ post.image1.url }}" alt="{{ post.title }}"  width="430" height="480">
                            </div>
                            <h2> {{ post.title }}</h2>
                            <span class="price">
                                <span class="amount" style="color: #000; text-align: center;">
                                    <span class="currencySymbol"> $</span>{{ post.price }}
                                </span>
                            </span>
                        </a>
                        <a rel="nofollow" href="{% url 'post_detail' post.id %}" style="color: #000;" class="btn-bottom-line">Купить</a>
                    </li>
                    
                {% endfor %}
                </ul>
            </div>

            <div class="px-5-percent">
                <footer>
                    <div class="footer_container">
                        <div class="fluid-container">
                            <div class="row align-items-center">
                                <div class="col-lg-4">
                                    <p>
                                        © 2024 uzbpo.com
                                    </p>
                                </div>
                                <div class="col-lg-4">
                                    <ul class="footer_nav align-center">
                                        <li>
                                            <a style="color: #000;" href="{% url 'index' %}" target="blank" title="Главная">Главная</a>
                                        </li>
                                        <li>
                                            <a style="color: #000;" href="{% url 'index' %}#products" target="blank" title=" Продукты"> Продукты </a>
                                        </li>
                                        <li>
                                            <a style="color: #000;" href="{% url 'index' %}#aboutus " target="blank" title="О нас">О нас</a>
                                        </li>
                                        <li>
                                            <a style="color: #000;" href="{% url 'index' %}" target="blank" class="color youtube " title="Контакты"> Контакты</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 align-right">
                                    <ul class="list-inline">
                                        <li>
                                            <a style="color: #000;" href="https://www.facebook.com/energeticthemes">
<i class="fa fa-facebook" aria-hidden="true"></i>
</a>
                                        </li>
                                        <li>
                                            <a style="color: #000;" href="https://instagram.com/energeticthemes">
<i class="fa fa-instagram" aria-hidden="true"></i>
</a>
                                        </li>
                                        <li>
                                            <a style="color: #000;" href="https://behance.com/energeticthemes">
<i class="fa fa-behance" aria-hidden="true"></i>
</a>
                                        </li>
                                        <li>
                                            <a style="color: #000;" href="https://twitter.com/energeticthemes">
<i class="fa fa-twitter" aria-hidden="true"></i>
</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js "></script>
    <script type="text/javascript" src="js/plugins.min.js"></script>
    <script type="text/javascript" src="js/jquery.smoothState.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAE_JprYsi2sHzUcl8u1DbcUgQnDveJWs4"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Sahifa yuklanganda mahsulotlar sonini yangilang
        $(document).ready(function() {
            updateCartItemCount();
        });
    
        function updateCartItemCount() {
            $.ajax({
                url: "{% url 'cart_count' %}",
                method: "GET",
                success: function(data) {
                    $('#cart-item-count-navbar').text(data.cart_item_count);
                    $('#cart-item-count-sidebar').text(data.cart_item_count);
                },
                error: function(xhr, status, error) {
                    console.error('AJAX request failed:', status, error);
                }
            });
        }
    
        // Savatga mahsulot qo'shish tugmasi bosilganda mahsulotlar sonini yangilang
        document.getElementById('add-to-cart-button').addEventListener('click', function() {
            var form = document.getElementById('add-to-cart-form');
            var formData = new FormData(form);
    
            fetch("{% url 'add_to_cart' %}", {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken')
                }
            }).then(response => {
                if (response.status === 204) {
                    tugmaBosildi('Mahsulot savatga qo\'shildi');
                    // Savatcha elementlarini yangilash
                    updateCartItemCount();
                } else {
                    tugmaBosildi('Xatolik yuz berdi');
                }
            });
        });
    
        function tugmaBosildi(message) {
            document.getElementById("tugmaYozuv").innerText = message;
            setTimeout(function () {
                document.getElementById("tugmaYozuv").innerText = "";
            }, 2500); // 2.5 sekunddan so'ng yozuv o'chiriladi
        }
    </script>
    
</body>

</html>
